body{
    width: 100%;
    height: 100%;
    background-color: #121212;
}

main{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

form{
    text-align: center;
}

.lbl{
    color:white;
}

label{
    color:white;
}

.jogosForm{
    display:flex;
    gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#preview{
    outline: none;
    border:none;
    width: 100%;
    height: 30rem;
    margin: 1rem;
    border-radius: 5px;
}

.voltar{
    color:white;
    display:flex;
    align-items: center;
    justify-content: end; 
    margin: 3rem;
}

.input{
    border:0;
    background-color:#202020;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
}

input{
    border:0;
    background-color:#202020;
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
}

span{
    display:flex;
    color:white;
    background: none;
    gap: 5px;
}

a{
    color:white;
    text-decoration: none;
    background: none;
}

#funcionario{
    text-align: center;
    background: none;
    color:white;
    text-decoration: none;
    position: fixed;
    margin-bottom: 1.5rem;
    left: 0;
    bottom: 0;
    width: 100%;
}

button{
    cursor: pointer;
    border:0;
    margin: 10px auto;
    display: block;
    text-align: center;
    background-color: #d8d8d8;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #202020;
    border-radius: 5px;
    transition: 0.25s;
}

.titulo{
    color:white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 4rem;
}

.warning{
    width: 100%;
    height: 4rem;
    background: #ffc700;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}